.novelty {
    // .novelty__header
    &__header {
    }
    // .novelty__body
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        @media (max-width: $maxwidth1) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $maxwidth2) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 1050px) {
            grid-gap: 14px;
        }
    }
}